.product_detail .add .ec-base-paginate { display: flex; justify-content: center; margin: 30px 0; }
.product_detail .add .ec-base-paginate ol { display: flex; justify-content: center; }
.product_detail .add .ec-base-paginate li a { height: auto; line-height: inherit; margin: 0 5px; min-width: auto; }